<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622261363861-g6i1r2ovf0ua5404mojldh1ka4detrv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622261363861-g6i1r2ovf0ua5404mojldh1ka4detrv9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>622261363861-6qojcjvnkq5qcthknjhed2uvbk9q3rtk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdUK4Crwi06YFFAjKutYzGKJC_YBVR-X0</string>
	<key>GCM_SENDER_ID</key>
	<string>622261363861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthenticationExample</string>
	<key>PROJECT_ID</key>
	<string>exemplo-b3129</string>
	<key>STORAGE_BUCKET</key>
	<string>exemplo-b3129.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622261363861:ios:6d7217a1e863c977d2a79c</string>
</dict>
</plist>